<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>My CRUD in NodeJS</title>
</head>
<body>

<h2>Registros</h2>
  <table border="1">
    <thead>
        <tr>
            <td>Nome</td>
            <td>Sobrenome</td>
            <td>Ação</td>
        </tr>
    </thead>
    <tbody>
    <% data.forEach(function(details) { %>
        <tr>
            <td><%= details.name %></td>
            <td><%= details.surname %></td>
            <td><a href="/edit/<%= details._id %>">Editar</a> - <a href="/delete/<%= details._id %>">Deletar</a></td>
        </tr>
        <% }) %>
    </tbody>
  </table>
  <button><a href="/">Voltar</a></button>
</body>
</html>